html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
body {
    background-color: #2C2141;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.main {
    width: 624px;
    background-color: #F8F8F8;
    border-radius: 16px;
    margin: 16px;
    padding: 32px;
}

.person {
  display: flex;
  align-items: flex-start;


}

.person__description {
  font-size: 16px;
  line-height: 22px;

}

.person__info {

}

.person__name {
    font-size: 36px;
    margin: 0;
    font-weight: normal;
}

.person__picture {
}

.person__position {
  font-size: 18px;
  margin: 0;
  font-weight: normal;
  font-style: italic;
  color: #545454
}

.special {
  color: #ED6D05;
  font-weight: normal;

}